header {
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
}
.img-logo > img {
 height: 30px;
 margin-right: 50px;
}
nav{
  margin-left: 50px;
  margin-right: 50px;
}
li {
  display: inline-block;
  list-style: none;
  margin: 10px;
  font-size: 12px;
  padding: 5px;
}
li:hover, a:hover {
  background-color: #efab43;
  border: 1px solid #efab43;
  border-radius: 5px;
  color: white;
  padding: 3px;
  text-decoration: none;
}
i {
  margin-left: 7px;
  margin-top: 5px;
}

a {
  color: black;
}

.icon {
  margin-left: 100px;
}

.icon > i {
  margin-left: 10px;
  margin-top: 15px;
}

/*main 1 parte */
.part-one {
  background-color: #f4f0ef;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/artist-shape-02-768x415.png);
  background-repeat: repeat-x;
}
.part-one-sx {
  background-image: url(../img/artist-shape-03.png);
}
#img-hero {
  margin-left: 200px;
  margin-top: 250px;
  border: solid 1px lightgray;
  border-radius: 2px;
  box-shadow: -2px 1px 10px 0px gray;
}

#img-hero2 {
  box-shadow: -2px 1px 10px 0px gray;
  border: solid 1px lightgray;
  border-radius: 2px;
  margin-right: 15px;
  height: 350px;
}
.part-two-sx {
  background-image: url(../img/artist-hero-image-03-204x300.png);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: right;
  background-position: bottom;
}
.part-one-center {
  margin-left: 50px;
  text-align: center;
  margin-top: 150px;
}
.part-one-center > h1 {
  margin: 20px;
  color: #b1e4f4;
}
.part-one-center > h2 {
  margin-bottom: 30px;
}
#btn-one {
 color: white;
 background-color: #ef6f31;
 border: none;
 box-shadow: -2px 1px 10px 0px gray;
}

#btn-one:hover {
  background-color: #69a0fd;
}
.part-one-dx {
  margin-left: 100px;
  margin-top: 100px;
  background-image: url(../img/artist-shape-04.png);
  background-size: 500px;
}
.part-one-dx > img {
  height: 400px;
}

/* main parte 2 */
.second-main-top {
  background-image: url(../img/artist-shape-01-300x288.png);
  background-repeat: no-repeat;
}
.second-main {
  background-image: url(../img/maxcoach-shape-14.png);
  background-repeat: repeat-x;
}
.second-main > h1 {
  color: #b1e4f4;
  margin-top: 60px;
}
.second-main > h3 {
  text-align: center;
  margin-top: 25px;
  style="font-family: 'Roboto', sans-serif;"
}

.card-m {
  position: relative;
  left: 450px;
  margin-top: 70px;
  font-family: 'Roboto', sans-serif;
}
.card-m > img {
  margin-left: 65px;
}
.card-m > h6 {
  text-align: center;
  margin-top: 20px;
}
.card-m > p {
  margin-top: 20px;
}

.xD {
  margin-top: 150px;
  margin-right: 20px;
  margin-left: 20px;
}

/* Terza Main */
.terz-sx {
  margin-top: 100px;
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;
}
.terz-sx  > img {
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.terz-sx > h2 {
  margin-top: 60px;
  color: #b1e4f4;
  margin-left: 70px;
}
.terz-sx > h1 {
  text-align: center;
}
.terz-dx {
  float: right;
  margin-left: 170px;
  margin-top: 150px;
  font-family: 'Roboto', sans-serif;
}

#second-p {
  margin-top: 50px;
}

.terz-dx > p {
  margin-top: 90px;
}

#btn-two {
  background-color: #fdf0ea;
  color: orange;
  border: none;
  margin-top: 30px;
  margin-left: 25px;
}

#btn-two:hover{
  background-color: #69a0fd;
}

/* Quarta Main */

.center-img {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  margin-left: 120px;
  background-image: url(../img/artist-video-poster.jpg);
  background-repeat: no-repeat;
}

.tube {
  margin: 30% 45%;
}

.main-quattro {
  background-image: url(../img/maxcoach-shape-05-150x150.png);
  background-repeat: no-repeat;
  background-position: left;
}
.main-due-quattro {
  background-image: url(../img/maxcoach-shape-12-100x100.png);
  background-repeat: no-repeat;
  background-position: right;
}

/* quinta Main */

.container-fluid > h1 {
  text-align: center;
  color: #b1e4f4;
}

.container-fluid > h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.colonna-sx {
  margin-left: 100px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}

.colonna-sx > img {
  border-radius: 50%;
  height: 100px;
}
.colonna-sx > span {
  margin-left: 120px;
  position: relative;
  bottom: 70px;
}

#nome-people {
  margin-left: 120px;
  position: relative;
  bottom: 70px;
}

.colonna-cent {
  margin-left: 120px;
  margin-right: 50px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}

.colonna-cent > img {
  border-radius: 50%;
  height: 100px;
}
.colonna-cent > span {
  margin-left: 120px;
  position: relative;
  bottom: 70px;
}

.colonna-dx {
  font-family: 'Roboto', sans-serif;
  margin-left: 120px;
  margin-right: 50px;
  margin-top: 50px;
}

.colonna-dx > img {
  border-radius: 50%;
  height: 100px;
}
.colonna-dx > span {
  margin-left: 120px;
  position: relative;
  bottom: 70px;
}

.container-fluid > i {
  text-align: center;
}

.pieno {
  margin-left: 45%;
}

/* sesta main */
.six > h1 {
  text-align: center;
  margin-top: 50px;
  color: #b1e4f4;
}
.six > h2 {
  text-align: center;
}
.mio {
  height: 200px;
}
.mio:hover {
  border: 3px solid orange;
  transform: scale(1.1);
}

.img-sx-one > img {
  height: 370px;
  width: 286px;
}

.sei {
  margin-left: 320px;
}
.special {
  margin-right: 25px;
  margin-bottom: 50px;
}

.sp {
  margin-right: 100px;
}

#btn-tree {
  margin-left: 45%;
  background-color: #fdf0ea;
  color: orange;
  border: none;
  margin-top: 20px;
}
#btn-tree:hover{
  background-color: #69a0fd;
}

/* Settima main */
.seven {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f7fa;
  background-image: url(../img/maxcoach-shape-14-1536x343.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
.seven-p > h1 {
  margin-top: 80px;
  text-align: center;
  color: #b1e4f4;
}

.seven-p > h2 {
  text-align: center;
}

.text-contenitor {
  color: white;
  position: relative;
  bottom: 230px;
  margin-left: 25px;
  padding: 25px;
  font-family: 'Roboto', sans-serif;
}

.text-contenitor > span {
  margin-right: 100px;
}

.central-card {
  position: relative;
  left: 50px;
  top: 80px;
}

.img-zio {
  position: relative;
  top: 200px;
  border: none;
  box-shadow: 1px 1px 11px 4px rgba(0,0,0,0.3);
  font-family: 'Roboto', sans-serif;
}
.mini-sx {
  background-image: url(../img/maxcoach-shape-12.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.mini-dx {
  background-image: url(../img/maxcoach-shape-13-150x150.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
#img-zia {
  height: 288px;
}

.img-zio-2 {
  position: relative;
  left: 100px;
  box-shadow: 1px 1px 11px 4px rgba(0,0,0,0.3);
  top: 110px;
  font-family: 'Roboto', sans-serif;
}

.special-title {
  color: #8c89a2;
}
.special-test {
  color: #3f3a6e;
}

#test-link {
  margin-left: 400px;
  font-family: 'Roboto', sans-serif;
  color: #8c89a2;
}
#special-link {
  color: orange;
  border-bottom: 1px solid lightgray;
}

/* ottava maìn */

.upcoming {
  margin-top: 50px;
}
.upcoming > h2 {
  text-align: center;
}

.upcoming > h1 {
  text-align: center;
  color: #b1e4f4;
}

.up-colon {
  margin-top: 50px;
}
.content > h5 {
  color: black;
}
.content {
  position: relative;
  left: 280px;
  bottom: 200px;
  color: #8c89a2;
}

.up-colon-2 {
  position: relative;
  left: 350px;
  top: 50px;
}

.up-colon-3 {
  position: relative;
  top: 430px;
  right: 220px;
}
.content-down  > h5 {
  color: black;
}
.content-down {
  position: relative;
  right: 280px;
  bottom: 180px;
  color: #8c89a2;
  text-align: right;
}

.up-colon-4 {
  position: relative;
  left: 200px;
  top: 420px;
  height: 100%;
}
.otto {
  height: 800px;
}

/* nona mian */
.nove-col {
  margin-right: 80px;
}
.nove-col > h1 {
  color: white;
  margin-top: 20px;

}
.email-input {
  position: relative;
  left: 350px;
  bottom: 50px;
}

.border-none {
  border: none;
  border-bottom: 2px solid lightgray;
  width: 600px;
  background-color: #244186;
}
.btn-border > i {
  color: white;
}
.btn-border{
  border: none;
  background: none;
  border-bottom: 2px solid lightgray;
  width: 50px;
}
.border-none::placeholder {
  color: white;
  font-size: 25px;
}
.back-email {
  background-image: url(../img/artist-shape-color-paint-top-left-300x170.png);
  background-repeat: no-repeat;

}
.new-back-email {
  background-image: url(../img/artist-shape-05-300x198.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #244186;
}
