header {
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
}
.img-logo > img {
 height: 30px;
 margin-right: 50px;
}
nav{
  margin-left: 50px;
  margin-right: 50px;
}
li {
  display: inline-block;
  list-style: none;
  margin: 10px;
  font-size: 12px;
  padding: 5px;
}
li:hover, a:hover {
  background-color: #efab43;
  border: 1px solid #efab43;
  border-radius: 5px;
  color: white;
  padding: 3px;
  text-decoration: none;
}
i {
  margin-left: 7px;
  margin-top: 5px;
}

a {
  color: black;
}

.icon {
  margin-left: 100px;
}

.icon > i {
  margin-left: 10px;
  margin-top: 15px;
}

/*main 1 parte */
.part-one {
  background-color: #f4f0ef;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/artist-shape-02-768x415.png);
  background-repeat: repeat-x;
}
.part-one-sx {
  background-image: url(../img/artist-shape-03.png);
}
#img-hero {
  margin-left: 200px;
  margin-top: 250px;
  border: solid 1px lightgray;
  border-radius: 2px;
  box-shadow: -2px 1px 10px 0px gray;
}

#img-hero2 {
  box-shadow: -2px 1px 10px 0px gray;
  border: solid 1px lightgray;
  border-radius: 2px;
  margin-right: 15px;
  height: 350px;
}
.part-two-sx {
  background-image: url(../img/artist-hero-image-03-204x300.png);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: right;
  background-position: bottom;
}
.part-one-center {
  margin-left: 50px;
  text-align: center;
  margin-top: 150px;
}
.part-one-center > h1 {
  margin: 20px;
  color: #b1e4f4;
}
.part-one-center > h2 {
  margin-bottom: 30px;
}
#btn-one {
 color: white;
 background-color: #efab43;
 border: none;
 box-shadow: -2px 1px 10px 0px gray;
}

#btn-one:hover {
  background-color: #69a0fd;
}
.part-one-dx {
  margin-left: 100px;
  margin-top: 100px;
  background-image: url(../img/artist-shape-04.png);
  background-size: 500px;
}
.part-one-dx > img {
  height: 400px;
}

/* main parte 2 */
.second-main-top {
  background-image: url(../img/artist-shape-01-300x288.png);
  background-repeat: no-repeat;
}
.second-main {
  background-image: url(../img/maxcoach-shape-14.png);
  background-repeat: repeat-x;
}
.second-main > h1 {
  color: #b1e4f4;
  margin-top: 60px;
  margin-left: 42%;
}
.second-main > h3 {
  text-align: center;
  margin-top: 25px;
  style="font-family: 'Roboto', sans-serif;"
}

.card-m {
  position: relative;
  left: 450px;
  margin-top: 70px;
  font-family: 'Roboto', sans-serif;
}
.card-m > img {
  margin-left: 65px;
}
.card-m > h6 {
  text-align: center;
  margin-top: 20px;
}
.card-m > p {
  margin-top: 20px;
}

.xD {
  margin-top: 150px;
  margin-right: 20px;
  margin-left: 20px;
}

/* Terza Main */
.terz-sx {
  margin-top: 100px;
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;
}
.terz-sx  > img {
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.terz-sx > h2 {
  margin-top: 60px;
  color: #b1e4f4;
  margin-left: 70px;
}
.terz-sx > h1 {
  text-align: center;
}
.terz-dx {
  float: right;
  margin-left: 170px;
  margin-top: 150px;
  font-family: 'Roboto', sans-serif;
}

#second-p {
  margin-top: 50px;
}

.terz-dx > p {
  margin-top: 90px;
}

#btn-two {
  background-color: #fdf0ea;
  color: orange;
  border: none;
  margin-top: 30px;
  margin-left: 25px;
}

#btn-two:hover{
  background-color: #69a0fd;
}

/* Quarta Main */

.center-img {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  margin-left: 120px;
  background-image: url(../img/artist-video-poster.jpg);
  background-repeat: no-repeat;
}

.tube {
  margin: 30% 45%;
}

.main-quattro {
  background-image: url(../img/maxcoach-shape-05-150x150.png);
  background-repeat: no-repeat;
  background-position: left;
}
.main-due-quattro {
  background-image: url(../img/maxcoach-shape-12-100x100.png);
  background-repeat: no-repeat;
  background-position: right;

}
